{% extends 'base.html' %}

{% block link %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/create_style.css' %}">
{% endblock %}

{% block content %}
    <div class="create">
        <h1>Create Post</h1>
        <small style="color: #939393">create your post here</small>
        <hr>
        <form action="" method="post" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <input id="create-btn" type="submit" value="Create">
        </form>
    </div>

{% endblock %}