body{
    background-color: rgb(240, 239, 239);
}

*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.parent{
    position: relative;
    margin-top: 200px;
    width: 90%;
    height: 50%;
    font-size: 0px;
}

.child{
    position: relative;
    display: inline-flexbox;
    font-size: 14px;
}

.child-1{
    float: left;
    margin-left: 30px;
    width: 400px;
    height: 200px;
}

.child-1 img{

    margin: 0;
    padding: 0;
    width: 300px;

}

.child-1 p{
    margin: 0;
    padding: 0;
    font-size: 26px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.child-2{
    float: right;
    background-color: white;
    border-radius: 10px;
    width: 350px;
    border: solid white;
    height: 500px;
    box-shadow: -1px 2px 3px 2px rgb(209, 208, 208);
}

.messages-success{
    background-color: rgba(201, 247, 199, 0.74);
    border: 1px solid green;
    border-radius: 5px;
    color: green;
    width: 87%;
    font-size: 17px;
    margin-left: 20px;
    padding: 15px;
}

.messages-danger{
    background-color: rgba(247, 199, 199, 0.74);
    border: 1px solid red;
    border-radius: 5px;
    color: red;
    width: 87%;
    font-size: 17px;
    margin-left: 20px;
    padding: 15px;
}

.messages-warning{
    background-color: rgba(244, 247, 199, 0.74);
    border: 1px solid rgb(221, 206, 0);
    border-radius: 5px;
    color: rgb(189, 176, 1);
    width: 87%;
    font-size: 17px;
    margin-left: 20px;
    padding: 15px;
}

.clear{
    clear: both;
}

.child-2 form{
    margin: 10px;
}

.child-2 input{
    margin: 6px;
    width: 90%;
    height: 50px;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;

}

.input-fields{
    font-size: 15px;
}

#login-botton{
    font-size: 20px;
    color: white;
    background-color: rgba(29, 70, 255, 0.863);
}

.child-2 p{
    margin-bottom: 2px;

    text-align: center;
}

.create-botton{
    font-size: 15px;
    background-color: rgb(115, 185, 9);
    width: 180px;
    height: 40px;
    padding: 10px;
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;
}

.create-botton a{
    margin: 5px;
    text-align: center;
    color: white;
    font-weight: bold;
    text-decoration: none;
}