body{
    background-color: #f2f4f7;
}

*{
    font-family: "Segoe UI", Calibri, "Times New Roman";
}

a{
    color: black;
    text-decoration: none;
}

nav{
    margin-bottom: 70px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 6px;
    background-color: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 1px 2px #afafaf;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar li {
    display: flex;
    align-items: center;
}

.icon-search{
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.icon-search img{
    width: 40px;
}

.icon-search input{
    width: 250px;
    border: 0px;
    border-radius: 40px;
    background-color: #f0f2f5;
    padding: 10px;
    margin-left: 10px;
}

.pages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
}

.pages a{
    color: #65676b;
    flex: 1;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 40px;
}

.pages a:focus{
    color: #0866ff;

}

.pages a:hover{
    border-radius: 10px;
    background-color: #ececec;
}

.pages svg{
    width: 30px;
}

.profile{
    margin: 0 15px 0 300px;
}

.profile img{
    width: 50px;
}

.master{
    width: 100%;
    background-color: #f0f2f5;
    margin-left: auto;
    margin-right: auto;
}

.messages-success{
    background-color: rgba(201, 247, 199, 0.74);
    border: 1px solid green;
    border-radius: 5px;
    color: green;
    width: 75%;
    margin-left: 20px;
    padding: 15px;
}

.messages-danger{
    background-color: rgba(247, 199, 199, 0.74);
    border: 1px solid red;
    border-radius: 5px;
    color: red;
    width: 75%;
    margin-left: 20px;
    padding: 15px;
}

.messages-warning{
    background-color: rgba(244, 247, 199, 0.74);
    border: 1px solid rgb(221, 206, 0);
    border-radius: 5px;
    color: rgb(189, 176, 1);
    width: 75%;
    margin-left: 20px;
    padding: 15px;
}