.icon-search{
    float: left;


}

.icon-search img{
    width: 35px;
}

.icon-search input{
    width: 150px;
    border: 0px;
    border-radius: 15px;
    background-color: #f0f2f5;
    padding: 2px;
}

.pages{
    margin-left: 150px;
    margin-right: 100px;
    position: relative;

}

.pages a{
    color: #65676b;
}

.pages a:focus{
    color: #0866ff;

}

.pages div{
    float: left;
}

.pages div:hover{
    border-radius: 10px;
    background-color: #ececec;
}

.pages svg{
    width: 20px;

    margin-right: 40px;
    margin-left: 40px;

}

.profile{

    float: right;

}

.profile input{
    width: 100px;
    border: 0px;
    border-radius: 15px;
    background-color: #f0f2f5;
    padding: 2px;
}

.profile img{
    width: 40px;
}

.master{
    width: 100%;

    background-color: #f0f2f5;
    margin-left: auto;
    margin-right: auto;

}